# LISTS 
MUTABLE Data Types

In [1]:
my_first_lists=[1,2,3,4,5]

In [2]:
my_first_lists

[1, 2, 3, 4, 5]

In [6]:
lst = ['Chetan',4,5,6,'Python','DataScientist']

In [7]:
lst

['Chetan', 4, 5, 6, 'Python', 'DataScientist']

In [8]:
type(lst)

list

In [11]:
for i in lst:
    print(i)

Chetan
4
5
6
Python
DataScientist

In [14]:
for item in my_first_lists:
    print("This is: {}". format(item))

This is: 1
This is: 2
This is: 3
This is: 4
This is: 5

In [15]:
len(my_first_lists)

5

In [16]:
len(lst)

6

In [17]:
new_lst = lst+my_first_lists

In [21]:
print(new_lst)

['Chetan', 4, 5, 6, 'Python', 'DataScientist', 1, 2, 3, 4, 5]

In [19]:
new_lst

['Chetan', 4, 5, 6, 'Python', 'DataScientist', 1, 2, 3, 4, 5]

In [22]:
newer_lst= my_first_lists+lst

In [23]:
newer_lst

[1, 2, 3, 4, 5, 'Chetan', 4, 5, 6, 'Python', 'DataScientist']

In [24]:
for i in newer_lst:
    print(i)

1
2
3
4
5
Chetan
4
5
6
Python
DataScientist

In [25]:
len(newer_lst)

11

In [28]:
price=[20,30,45,85]
tax  =[5,8,12,20]

In [31]:
total_price= (price+tax)

In [34]:
total_price

[20, 30, 45, 85, 5, 8, 12, 20]

In [35]:
lst

['Chetan', 4, 5, 6, 'Python', 'DataScientist']

In [36]:
lst.append('SQL')

In [37]:
lst

['Chetan', 4, 5, 6, 'Python', 'DataScientist', 'SQL']

In [41]:
total_price = []
for i in range (len(price)):
    new_element = price[i]+ tax[i]
    total_price.append(new_element)

In [43]:
total_price

[25, 38, 57, 105]

In [44]:
lst1=["Python","SQL","C","C++"]

In [52]:
lst1.append('java')

In [53]:
lst1

['Python', 'SQL', 'C', 'C++', 'java']

In [55]:
lst1.pop()

'java'

In [56]:
lst1

['Python', 'SQL', 'C', 'C++']

In [57]:
lst1.insert(2,"java")

In [58]:
lst1

['Python', 'SQL', 'java', 'C', 'C++']

In [59]:
len(lst1)

5

In [62]:
lst1.insert(0,"Datascientist")

In [63]:
lst1.insert(1,"EDA")

In [64]:
lst1

['Datascientist', 'EDA', 'Datascientist', 'Python', 'SQL', 'java', 'C', 'C++']

In [65]:
lst1[3]= "C#@"

In [66]:
lst1

['Datascientist', 'EDA', 'Datascientist', 'C#@', 'SQL', 'java', 'C', 'C++']

In [67]:
lst1.remove('C#@')

In [68]:
lst1

['Datascientist', 'EDA', 'Datascientist', 'SQL', 'java', 'C', 'C++']

In [70]:
lst1.pop(1)

'EDA'

In [71]:
lst1

['Datascientist', 'Datascientist', 'SQL', 'java', 'C', 'C++']

In [75]:
lst1.append("Python")

In [76]:
lst1

['Datascientist', 'Datascientist', 'SQL', 'java', 'C', 'C++', 'Python']

In [78]:
lst1.pop(3)

'java'

In [79]:
lst1

['Datascientist', 'Datascientist', 'SQL', 'C', 'C++', 'Python']

# TUPLES
Immutable Data Types are called Tuples, tuples shoulb be written in () brackets not in [] or {} brackets

In [103]:
my_first_tuple=(1,2,3,4)

In [104]:
my_first_tuple

(1, 2, 3, 4)

In [105]:
my_first_tuple[2]

3

In [106]:
for i in my_first_tuple:
    print(i)

1
2
3
4

In [107]:
len(my_first_tuple)

4

In [108]:
type(my_first_tuple)

tuple

In [109]:
tup= (1,2,3,4)

In [110]:
lst_tup= list(tup)

In [111]:
lst_tup

[1, 2, 3, 4]

In [112]:
lst_tup.insert(4,6)

In [113]:
lst_tup

[1, 2, 3, 4, 6]

In [114]:
tup= tuple(lst_tup)

In [115]:
tup

(1, 2, 3, 4, 6)

In [116]:
type(my_first_tuple)

tuple

# Dictionaries

In [117]:
## Key-Value Pair

In [118]:
my_first_dict = {'Pavan':90,'Pooja':85,'Shashank':84,'Chetan':90}

In [119]:
my_first_dict

{'Pavan': 90, 'Pooja': 85, 'Shashank': 84, 'Chetan': 90}

In [120]:
my_first_dict['Pavan']

90

In [121]:
len(my_first_dict)

4

In [122]:
for key,values in my_first_dict.items():
    print(key,values)

Pavan 90
Pooja 85
Shashank 84
Chetan 90

In [123]:
for key in my_first_dict:
    print(key)

Pavan
Pooja
Shashank
Chetan

In [124]:
for key in my_first_dict:
    print(my_first_dict[key])

90
85
84
90

In [125]:
my_first_dict['Aish']=92

In [126]:
my_first_dict

{'Pavan': 90, 'Pooja': 85, 'Shashank': 84, 'Chetan': 90, 'Aish': 92}

In [128]:
my_first_dict['Chetan']

90

In [129]:
my_first_dict.pop('Aish')

92

In [130]:
my_first_dict

{'Pavan': 90, 'Pooja': 85, 'Shashank': 84, 'Chetan': 90}


# LIST COMPREHENSIONS

In [131]:
a= [1,2,3,4,5,6]

In [132]:
# b= [8,6,4,3,2,1]

In [134]:
b= []
for i in range(len(a)):
    b.append(a[i]*2)

In [135]:
b

[2, 4, 6, 8, 10, 12]

In [136]:
c = []
for item in a:
    c.append(item*2)

In [137]:
c

[2, 4, 6, 8, 10, 12]

In [138]:
d= [item*2 for item in a]

In [139]:
d

[2, 4, 6, 8, 10, 12]

In [140]:
# [1, 4, 9, 16, 25, 36]

In [141]:
e1= []
for x in range(1,7):
    e1.append(x**2)

In [142]:
e1

[1, 4, 9, 16, 25, 36]

In [143]:

# [36, 25, 16, 9, 4, 1]

In [144]:
l1 = [x ** 2 for x in range(6, 0, -1)]

In [145]:
l1

[36, 25, 16, 9, 4, 1]

# Generators

In [155]:
def TopTen():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5

In [156]:
values = TopTen()

In [157]:
values

In [158]:
print(values.__next__())
print(values.__next__())
print(values.__next__())
print(values.__next__())
print(values.__next__())

1
2
3
4
5

In [160]:
for i in values:
    print(i)

In [161]:
def TopTen():
    n=1
    while n <=10:
        sq = n*n
        yield sq
        n +=1

In [162]:
values = TopTen()

In [163]:
for i in values:
    print(i)

1
4
9
16
25
36
49
64
81
100